
.icon-home:before { content: '\e800'; } /* '' */
.icon-stock:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-truck:before { content: '\e803'; } /* '' */
.icon-off:before { content: '\e804'; } /* '' */
.icon-user-add:before { content: '\e805'; } /* '' */
.icon-paper:before { content: '\e806'; } /* '' */
.icon-left:before { content: '\e807'; } /* '' */