body{
	background-color: lightblue;
	}


tr.link{
      cursor: pointer;
        }

#login h1{
	padding-top: 10%;
	text-align: center;
}


#root h1{
	padding-top: 5%;
	text-align: center;
	font-size:45px;
}

#login form{
	text-align: center;
}
.foto{
    width:  100px;
    height: 100px;
}
.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}

#menu{
	background:rgba(255,0,0,0.5);
	position:sticky;
	top:0;
	display:flex;
	flex-direction:wrap;
	flex-wrap: wrap;
	Justify-content:space-around;
	text-align:center;
	font-size:20px;
}

.up a{
	width:200px;
	height:50px;
	margin:10px;
	padding:5px;
	color:rgba(255,255,255,0.5);
	background:rgba(255,0,0,0.5);
	font-size:23px ;
	text-decoration: none ;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);

}


.up a:hover{
		background:rgba(255,255,255,0.5);
		color:rgba(255,0,0,0.5);
		text-decoration: none ;
}

.caja a{
	width:200px;
	height:50px;
	margin:10px;
	padding:5px;
	color:rgba(255,255,255,0.5);
	font-size:23px ;
	text-decoration: none ;
}

.caja a:hover{
		background:rgba(255,255,255,0.5);
		color:rgba(255,0,0,0.5);
		text-decoration: none ;
}



#cuerpo table {
	margin: 0 auto;
	width: 50%;
}

#cuerpo table td  , #cuerpo table th {
			border: 1px solid black ;
			background-color: white;
			font-size:30px ;

}

#carrito table {
	width: 100%;
}

#carrito table td  , #carrito table th {

			font-size:30px ;

}

#prove table td  , #prove table th {
			border: 1px solid black ;
			font-size:3330px ;
			border: 1px solid black ;

}

select#Tipo {
	width: 55px;
}

